/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  background-image: url("./assets/images/forest.jpg");
  background-size: cover; /* Ensures image covers the entire screen */
  background-repeat: no-repeat; /* Prevents image from repeating */
  background-attachment: fixed; /* Keeps image fixed while scrolling */
  background-position: center center; /* Centers background image */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
